.payment-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 2rem;
    border: 2px solid #d4af37;
    border-radius: 15px;
    background-color: rgb(242, 225, 201);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.payment-section h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #222;
    text-shadow: 2px 2px #d4af37;
}

.order-summary {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid #d4af37;
    margin-bottom: 2rem;
}
#order-list li {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
#total-amount {
    font-size: 2rem;
    font-weight: bold;
    color: #d4af37;
}

.payment-method, #card-details {
    margin-bottom: 2rem;
}
.payment-method select, #card-details input {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 1px solid #d4af37;
}

.hidden {
    display: none;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #d4af37;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover {
    background-color: darkgrey;
    color: #fff;
    transform: translateY(-5px);
}

#payment-message {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: green;
}
