.bartender-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 2rem;
    border: 2px solid #d4af37;
    border-radius: 15px;
    background-color: #2e2e2e;
    color: #f3f3f3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.bartender-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 1px 1px #d4af37;
}

.order-list {
    margin-bottom: 2rem;
}
.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    border: 2px solid #d4af37;
}
.item-info {
    flex: 1;
    text-align: left;
}
.item-btn {
    background-color: #d4af37;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s;
    margin-left: 1rem;
}
.item-btn:hover {
    background-color: darkgrey;
    color: white;
}

#order-message {
    text-align: center;
    color: green;
    font-size: 1.2rem;
}
