main {
    background-color: #A67C52;
    display: flex;
    margin: 0.5rem;
}



.vip-title{
    color: white;
    text-align: center;
    font-size: 50px;
}

.menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
    border-radius: 10px;
}

.menu-section h2 {
    font-size: 30px;
    text-align: center;
}


.tab-content {
    /* background-color: #d4af37; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap; 
}


.beverage-card {
    width: 150px;
    padding: 10px;
    margin-top: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    /* background-color: #054739; */
    background-color: #356859;
    color: white;
    cursor: grab;
    text-align: center;

    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

}

.beverage-card h2 {
    font-weight: 500;
    letter-spacing: 0.5px;
    word-wrap: break-word;
}

.beverage-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    max-height: 120px;
}

/* Order box */
#order-box {
    width: 300px;
    min-height: 150px;
    margin: 20px auto;
    padding: 15px;
    border: 2px dashed #333;
    background-color: #fff;
}

/* Order list */
#order-list {
    list-style-type: none;
    padding: 0;
}
#order-list li {
    padding: 10px;
    background-color: #ddd;
    margin: 5px;
    border-radius: 5px;
}

/* quantity button */
.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 15px;
}

.quantity-selector span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.quantity-btn {
    background-color: #D1495B;
    border: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #ffc400;
    color: white;
}

.quantity-number {
    font-size: 18px;
    width: 30px;
    margin-top: 13px;
    text-align: center;
}

.card-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-footer .add-to-cart-btn {
    background-color: #92b1ab;
    border: none;
    border-radius: 5px;
    /* padding: 0.5rem 1rem; */
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 1rem; 
    font-size: 15px;
}

.add-to-cart-btn{
    background-color: #92b1ab;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 1rem;
}

.add-to-cart-btn:hover {
    background-color: #7d630f;
    color: white;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-btn {
    padding: 1rem 1rem;
    cursor: pointer;
    background-color: #f6e2c5;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.tab-btn.active {
    background-color: #94a59d;
    color: black;
}


.detail-box {
    margin: 0.2rem;
    padding: 0.1rem;
    text-align: center;
}


.cart-section {
    flex: 1;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0.01rem;
    height: fit-content;
    padding: 20px;
}

.cart-detail {
    margin-right: 2rem;
    padding: 1rem ;
    background-color: #d4af37;
    /* background-color: #5A3E36; */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.cart-section h2 {
    color: white;
    font-size: 25px;
    text-align: center;
}

#order-box {
    overflow-y: auto;
    height: 30vh;
    width: 300px;
}


.check-info{
    text-align: center;
    font-size: 2rem;
}

.check-info p{
    text-align: left;
}

.check-info strong {
    font-size: 2rem;
}

.checkout-btn {
    background-color: #004D40;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.checkout-btn:hover {
    background-color: #00796B;
}

#undo-redo-container button{
    background-color: #004D40;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#undo-redo-container button:hover {
    background-color: #00796B;
}

.cart-detail button {
    background-color: #086452;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 1rem;
}

.cart-detail button:hover {
    background-color: #3D9970;;
    color: white;
}

#cart-total {
    color: #E63946;
}


.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
}

/* 最後一項不加底線 */
.cart-item:last-child {
    border-bottom: none;
}

.cart-item span {
    font-size: 20px;
}


.cart-item .quantity-number {
    font-size: 18px;
    width: 30px;
    margin-top: 29px;
    text-align: center;
}

.cart-item img {
    width: 25%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    max-height: 120px;
}