.payment-section {
    background-color: bisque;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 800px;
    padding: 2rem;
}

.payment-section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 3rem;
}

.order-summary {
    background-color: rgb(254, 254, 254);
    margin: 1rem;
}

.order-summary p {
    padding: 1rem;
    font-size: 20px;
}

.payment-method {
    margin: 2rem 1rem;
}

.payment-method label {
    text-align: left;
}

.payment-method select {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border: 1px solid #d4af37;
}

.payment-submit-btn {
        width: 100%;
        padding: 1rem;
        background-color: #d4af37;
        color: black;
        border: none;
        border-radius: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.3s;
}

.payment-submit-btn:hover {
    background-color: darkgrey;
    transform: translateY(-5px);
}
