.vip-section {
    background-color: bisque;
    margin: 2rem 1rem;
}

.vip-section h2 {
    text-align: center;
    font-size: 30px;
}

.vip-data {
    text-align: center;
    font-size: 30px;
}

.records {

}


.order-list {

}

.order-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 64, 56);
    color: white;
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    border-radius: 7px;
}

.order-item h3 {
    flex: 1;
    font-size: 25px;
}

.item-info {
    flex: 1;
    text-align: left;
    font-size: 1.2rem;
}

.item-btn {
    background-color: #d4af37;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.2s;
    margin-left: 1rem;
}

.item-btn:hover {
    background-color: darkgreen;
    color: white;
}