<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Flying Dutchman</title>
    <link href="../public/css/bartender.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="header-top" onclick="location.href='index.html'">
            <h1 class="title">The Flying Dutchman</h1>
        </div>
        <div class="header-top-right">
            <span class="staff-id">Staff ID : bartender1 </span>
            <div class="lang-switch">
              <button onclick="changeLanguage('en')">EN</button>
              <button onclick="changeLanguage('sv')">SV</button>
              <button onclick="changeLanguage('tw')">繁中</button> 
              <button onclick="changeLanguage('ch')">简中</button>    
            </div>
        </div>
    </header>

    <nav>
      <ul>
          <li><a href="./index.html" data-i18n="home">Home</a></li>
          <li><a href="./vip-menu.html" data-i18n="menu">Menu</a></li>
          <li><a href="./index.html" data-i18n="logout">Logout</a></li>
      </ul>
    </nav>


    <section class="order-section">
        <h2>Waiting orders</h2>

        <div class="order-tabs">
        
        </div>
            <!-- Tabs is dynamically inserted here -->
        <h2>Order Details</h2>
        <div class="order-details">
            <!-- Orders will be dynamically inserted here -->
        </div>

    </section>

    <script src="../public/js/bartender_controller.js" type="module"></script>
    <script src="../public/js/lang.js"></script>
</body>
</html>