<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Flying Dutchman</title>
    <link href="../public/css/bartender.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="header-top" onclick="location.href='index.html'">
            <h1 class="title">The Flying Dutchman</h1>
        </div>
        <div class="header-top-right">
            <span class="staff-id">Staff ID : bartender1 </span>
            <div class="lang-switch">
              <button onclick="changeLanguage('en')">EN</button>
              <button onclick="changeLanguage('sv')">SV</button>
              <button onclick="changeLanguage('tw')">繁中</button> 
              <button onclick="changeLanguage('ch')">简中</button>    
            </div>
        </div>
    </header>

    <nav>
      <ul>
          <li><a href="./index.html" data-i18n="home">Home</a></li>
          <li><a href="./vip-menu.html" data-i18n="menu">Menu</a></li>
          <li id="auth-link"><a href="./login.html" data-i18n="login">Log In</a></li>
        </ul>
    </nav>


    <section class="order-section">
        <div class="order-header">
            <h2>Waiting orders</h2>
            <div class="undo-redo-buttons">
                <button id="undo-btn" class="undo-btn">↩ Undo</button>
                <button id="redo-btn" class="redo-btn">↪ Redo</button>
            </div>
        </div>
        

        <div class="order-tabs">
        
        </div>
            <!-- Tabs is dynamically inserted here -->
        <h2>Order Details</h2>
        <div class="order-details">
            <!-- Orders will be dynamically inserted here -->
        </div>

    </section>
    
    <script src="../public/js/bartender_controller.js" type="module"></script>
    <script src="../public/js/lang.js"></script>
    
    <!-- Payment Modal (Initially Hidden) -->
    <div id="payment-modal" class="modal">
        <div class="modal-content">
            <!-- Order Card (Left Side) -->
            <div class="modal-order">
                <div id="modal-order-content"></div> <!-- Order details will be inserted here -->
            </div>

            <!-- Payment Options (Right Side) -->
            <div class="modal-payment">
                <h2>Please confirm order &<br>Payment Method</h2>
                <button id="checkout-all" class="checkout-btn">CHECK OUT ALL</button>
                <button id="split-bills" class="checkout-btn">SPLIT BILLS</button>
            </div>

            <!-- Close Button -->
            <span class="close-modal" id="close-modal">&times;</span>
        </div>
    </div>
</body>


</html>