<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flying Dutchman</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/menu.css">
</head>
<body>
    <header class="header">
        <div class="header-top" onclick="location.href='index.html'">
            <h1 class="title">The Flying Dutchman</h1>
        </div> 
        <div class="header-top-right">
            <div class="lang-switch">
                <button class="lang-btn" data-lang="en">EN</button>
                <button class="lang-btn" data-lang="sv">SV</button>
                <button class="lang-btn" data-lang="tw">繁中</button>  
                <button class="lang-btn" data-lang="ch">简中</button>  
            </div>
        </div>          
    </header>

    <!-- Billboard  -->
    <section class="billboard">
        <div class="billboard-text">
            <h1 id="main-title" data-i18n="welcome">Welcome to The Bar</h1>
            <button class="explore-btn" data-i18n="explore" onclick="location.href='./menu.html'">Explore the Menu</button>
        </div>
    </section>

    <footer>
        <h3>Copyright ©2025 All rights reserved</h3>
    </footer>

    <script src="../public/js/lang.js"></script>
</body>
</html>