<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/payment.css">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <h1 data-i18n="title">The Flying Dutchman</h1>
        </div> 
        <div class="header-top-right">
            <div class="lang-switch">
                <button onclick="setLanguage('en')">EN</button>
                <button onclick="setLanguage('sv')">SV</button>
                <button onclick="setLanguage('tw')">繁中</button> 
                <button onclick="setLanguage('zh')">简中</button>    
            </div>
        </div>          
    </header>
    <nav>
        <ul>
            <li><a href="./vip-menu.html" data-i18n="menu">Menu</a></li>
            <li><a href="./vip-info.html" data-i18n="info">Info</a></li>
            <li id="auth-link"><a href="./login.html" data-i18n="login">Log In</a></li>
        </ul>
    </nav>

    <!-- Two payment options -->
    <section class="payment-section">
        <h2>Payment</h2>
        <div class="order-summary">
            <ul id="order-list"></ul>
            <p><strong>Total Amount:</strong> <span id="total-amount">0kr</span></p>
        </div>

        <div>
            <button class="vip-payment-btn" id="PayAtBar">Pay at bar</button>
            <button class="vip-payment-btn" id="PayByBalance">Pay by balance</button>
        </div>
    </section>

    <footer>
        <h3>Copyright ©2025 All rights reserved</h3>
    </footer>
    <script src="../public/js/lang.js"></script>
    
    <script type="module" src="../public/js/user_controller.js"></script>
    <script type="module" src="../public/js/pay_contorller.js"></script>

    <!-- <script type="module" src="../public/js/pay_view.js"></script> -->
</body>
</html>